@import "_vars.scss";

// BULMA OVERRIDES

div.section {
  @media screen and (max-width: $tablet) {
    padding: 1.25rem 0;
  }
}

p a,
.button {
  transition: 0.2s;
  &:hover {
    opacity: 0.7;
  }
}

// CUSTOM
