@import "../../node_modules/bulma/sass/utilities/functions.sass";

$link: #003D57;
$info: #003D57;
$read-more: #37bc9b;

$transparent: rgba(0,0,0,0);

$primary: #003D57;
$primary-invert: findColorInvert($primary);

$family-primary: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;