@import "../../node_modules/bulma/sass/utilities/functions.sass";

$transparent: rgba(0,0,0,0);

$primary: #421E28;
$primary-invert: findColorInvert($primary);

$link: $primary;

$info: #FDF8EB;

$family-primary: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;