@import "_vars.scss";


.contact-page {
    b {
        font-weight: 600;
    }
    hr {
        height: 0px;
        margin: 0.75rem 0;
    }
    form {
        margin: 1.5rem 0;

        .control.text-bar {
            @media screen and (min-width: $tablet) {
                width: 300px;
            }
        }

        /* Fix for incorrect bulma targetting: */
        &.field.has-addons .control:not(:first-child):not(:last-child) {
            input {
                border-bottom-left-radius: 4px;
                border-top-left-radius: 4px;
    
            }
        } 
    }
    .field a {
        margin: 1rem;
        transition: transform 100ms ease-in-out;
        transform-origin: center;
        &:hover {
            transform: scale(1.10);
            opacity: 0.8;
        }
    }  

}
