@import "_vars.scss";

.ak-events-list {
  .box {
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;

    &.is-inactive {
      opacity: 0.5;
    }

    .media-content {
      .button {
        margin-top: 1rem;
      }
    }
  }

  figure.image {
    width: 150px;
    height: 150px;
    margin: 0.5rem 1.5rem 0.5rem 0.5rem;
  }
}
